.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


input[type=text] {
  margin: 30px;
  padding: 10px;
  font-size: 20px;
}

input[type=text] {
  margin: 30px;
  padding: 10px;
  font-size: 20px;
}

input[type=submit]{
  font-size: 30px;
  padding: 10px 20px;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

img {
  width: 200px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
  flex: 1 0 25%;
  box-sizing: border-box;
  background: #e0ddd5;
}
